#userInfo {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#photo {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    overflow: hidden;
    padding: 0%;
}

#photo img {
    height: 100%;
    width: 20%;
    object-fit: cover;
}

#username, #exit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#username {
    font-weight: bold;
    background-color: #757575;
    padding: 1% 2%;
}

#exit {
    cursor: pointer;
    padding: 1%;
}