<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a class="brand-logo" [routerLink]="getRoute()">
      <i class="small material-icons">check_box</i>
      Todo List
    </a>
    <div id="userInfo" class="right hide-on-med-and-down" *ngIf="showUserInfo()">
      <div id="photo" *ngIf="user.photo">
        <img src="{{user.photo}}">
      </div>
      <div id="username">
        {{user.displayName}}
      </div>
      <div class="red accent-3" id="exit" (click)="exit()">
        <i class="small material-icons">exit_to_app</i>
      </div>
    </div>
  </div>
</nav>
