nav > div {
    display: flex;
    justify-content: space-between;
}

#user {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#headerPhoto {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    overflow: hidden;
    padding: 0%;
}

#headerPhoto img {
    height: 100%;
    width: 20%;
    object-fit: cover;
}

#headerUsername, #headerExit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerUsername {
    font-weight: bold;
    background-color: #757575;
    padding: 1% 2%;
    white-space: nowrap;
}

#headerExit {
    cursor: pointer;
    padding: 1%;
}