<div id="container">
  <div id="content">
    <rb-notes></rb-notes>
  </div>
</div>
<div id="buttonAdd">
  <a class="btn-floating btn-large waves-effect waves-light blue lighten-1 modal-trigger" href="#modal">
    <i class="material-icons">add</i>
  </a>
</div>
