.has-error input {
  border-bottom-color: #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

.has-error input+label {
  color: #F44336 !important;
}

.has-error span {
  color: #F44336 !important;
}

html,
body {
  height: 100%;
  max-height: 100%;
}

body {
  background-color: #f1f1f1;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.horizontal-end {
  justify-content: flex-end;
}
