<div class="col s12 m6">
  <div class="card white">
    <div class="card-content">
      <form [formGroup]="noteForm">
        <div class="flex space-between">
          <p class="card-title">{{noteForm.get('title').value}}</p>
          <div>
            <a href="#modal" class="modal-trigger" (click)="edit()">
              <i id="edit" class="small material-icons">edit</i>
            </a>
            <i id="delete" class="small material-icons" (click)="deleteNote()">delete</i>
          </div>
        </div>
        <div formArrayName="tasks">
          <div *ngFor="let task of noteForm.get('tasks').controls; let i = index" [formGroup]="task" class="flex vertical-center">
            <input type="checkbox" name="{{'completed' + note._id + i}}" id="{{'completed' + note._id + i}}" formControlName="completed" (change)="updateTask()">
            <label for="{{'completed' + note._id + i}}" [class.line-through]="task.value.completed">{{task.value.description}}</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>