#title {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

#delete {
  color: #f44336;
}

#edit {
  color: #616161;
}

input[type='text'] {
  border: 0;
}

.card-title>input {
  font-weight: bold;
  color: #616161
}

.line-through {
  text-decoration: line-through;
}
