<div id="modal" class="modal">
  <div class="modal-content">
    <h4>Insert a new note</h4>
    <form [formGroup]="form">
      <div class="input-field">
        <input type="text" name="title" id="title" formControlName="title">
        <label for="title" [class.active]="form.get('title').value">Title</label>
      </div>
      <div formArrayName="tasks">
        <div *ngFor="let task of form.get('tasks').controls; let i = index" [formGroup]="task" class="flex vertical-center space-between">
          <div class="flex vertical-center" id="task">
            <div>
              <input type="checkbox" name="{{'completed' + i}}" id="{{'completed' + i}}" formControlName="completed">
              <label for="{{'completed' + i}}"></label>
            </div>
            <div class="input-field">
              <input type="text" name="{{'description' + i}}" id="{{'description' + i}}" formControlName="description">
              <label [class.active]="task.value.description" for="{{'description' + i}}">Description</label>
            </div>
          </div>
        </div>
        <div class="flex horizontal-end">
          <button class="btn" (click)="addItem()">
            <i class="small material-icons">add</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-blue btn-flat" (click)="clear()">Cancel</button>
    <button class="modal-close waves-effect waves-blue btn-flat" (click)="save()" [disabled]="form.invalid">Save</button>
  </div>
</div>