#register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 93vh;
}

#register > div {
    width: 30%;
}

input[type="file"] {
    display: none;
}

label[for="photo"] {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#previewPhoto {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#previewPhoto img {
    object-fit: cover;
}