#actions {
    display: flex;
    justify-content: space-between;
}

#tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tasksForm {
    display: flex;
    align-items: center;
}

#tasksForm .input-field > input[type="text"] {
    width: 300%;
}

#btnAddTasks {
    display: flex;
    justify-content: flex-end;
}