<div class="container" id="login">
  <div class="row center">
    <i class="large material-icons">person_pin</i>
    <form novalidate [formGroup]="loginForm" (submit)="login()">
      <div class="input-field width-forms col s12 m12 l12 xl12" [class.has-error]="validUsername()">
        <input type="text" name="username" formControlName="username">
        <label for="username">Username</label>
        <span class="helper-text" *ngIf="validUsername()">This field is invalid</span>
      </div>
      <div class="input-field width-forms col s12 m12 l12 xl12" [class.has-error]="validPassword()">
        <input type="password" name="password" formControlName="password">
        <label for="password">Password</label>
        <span class="helper-text" *ngIf="validPassword()">This field is invalid</span>
      </div>
      <div class="has-error width-forms">
        <span *ngFor="let message of errorMessages">{{message}}</span>
      </div>
      <input type="submit" class="btn light-blue lighten-1" value="login" [disabled]="loginForm.invalid">
    </form>
    <div class="center">
      <input type="button" class="btn light-blue lighten-1" value="register" routerLink="register">
    </div>
  </div>
</div>
