body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

#root {
  height: 100vh;
}

i {
  cursor: pointer;
}