<div class="row center" id="register">
  <form [formGroup]="registerForm" (submit)="register()">
    <label for="photo">
      <div id="photoContainer" *ngIf="registerForm.get('photo').value">
        <img src="{{registerForm.get('photo').value}}">
      </div>
      <i class="large material-icons" *ngIf="!registerForm.get('photo').value">add_a_photo</i>
    </label>
    <input type="file" name="photo" id="photo" (change)="onFileChange($event)">
    <div class="input-field col s12 m12 l12 xl12">
      <input type="text" name="username" formControlName="username">
      <label for="username">Username</label>
    </div>
    <div class="input-field col s12 m12 l12 xl12">
      <input type="number" name="phoneNumber" formControlName="phoneNumber">
      <label for="phoneNumber">Phone Number</label>
    </div>
    <div class="input-field col s12 m12 l12 xl12">
      <input type="password" name="password" formControlName="password">
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12 m12 l12 xl12">
      <input type="text" name="displayName" formControlName="displayName">
      <label for="displayName">Display Name</label>
    </div>
    <div *ngIf="errors.length">
      <p *ngFor="let error of errors" class="red darken-1">{{error}}</p>
    </div>
    <div>
      <input type="submit" value="Register" class="btn light-blue lighten-1" [disabled]="registerForm.invalid">
    </div>
  </form>
</div>