input[type="file"] {
    display: none;
}

label[for="photo"] {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#register {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 30%;
}

#photoContainer {
    padding: 0;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photoContainer > img {
    object-fit: cover;
}