<div class="row">
  <rb-note *ngFor="let note of notes" [note]="note" (delete)="deleteNote($event)" (update)="modalNote.update($event)"></rb-note>
</div>

<rb-modal-note (saveEvent)="addNote($event)" #modalNote></rb-modal-note>
