input[type='button'] {
    margin: 2%;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
}

#btnRegister {
    margin-top: 4%;
}

#loginBody {
    min-height: 100%;
}